<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>

<link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Mk1 Sandbox</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">List of Applications</h1>
        <p class="splash-subhead">
            Simulates a Mark 1 Fire Control Computer
        </p>
        <p>
            <a href="simulation" class="pure-button pure-button-primary">WW1 Gunnery Simluation</a>
            <a href="spotify" class="pure-button pure-button-primary">Spotify</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    What is the Mark 1?
                </h3>
                <p>
                    The Mark 1 is a mechanical firing computer that automates the calculations 
                    necessary for a firing solution and generates it constantly from the data you put in.
                    This means that at any point you can get those solutions. See the Wikipedia entry:
                    <a href="https://en.wikipedia.org/wiki/Mark_I_Fire_Control_Computer">Mark 1 Fire Control Computer</a>
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">What is this page?</h2>

            <p>
              This is actually just a sandbox to play around with rails/ruby
            </p>
        </div>
    </div>
</div>

</body>
</html>

